@media screen and (max-width: 480px) {

#container {max-width:100%;}
    
#content { max-width:100%;}

#nav { width:350px;}
video, img {max-width:100%;}

#footer {max-width:100%;}

#header {max-width:100%;}

#section {max-width:100%;}
body{ margin:0;
    
}
    
    
}

    
    
    
    
    
    
    
    
    
    
