@media print {


.active{
  box-shadow: none;
  
}


.videobort{display:none;
  
  
}

#nav{ display:none;}

#kuk { display:none;}

/*försöker ta bort sidescrollen... */

html { overflow: hidden; }
}

