@media print {


.active{
  box-shadow: none;
  
}


.videobort{display:none;
  
  
}

#nav{ display:none;}

#kuk { display:none;}

/*försöker ta bort sidescrollen... */



#content {width: 100%;}



}

