

body{
 background-color:;   
}

h1, h2{
    color:blue;
}

#wrapper{width:960px;
margin:0 auto ;}

#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav{
    line-height:30px;
    background-color:#eeeeee;
    height:1000px;
    width:100px;
    float:left;
    padding:5px; 
}
#section {
    width:200px;
    float:right;
    padding:10px
    float:left; 
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}




