/* backgrundsbild */



body  {
    background-image: url('../jpeg/China.jpg');
    
    }
/* text för p typografi */
p{
    color:black;
text-shadow: 5px 5px 10px red;
    font-style: "Helvetica", sans-serif;
    text-align:left;



    
}

/* formulär */
#cform input, #cform textarea, #cform select 
{ 
width:300px; 
margin-bottom:20px; 
} 
#cform textarea { height:100px; } 
#cform .checkbox { width:auto; } 

.left{
    float:left;
}






/* navigation */

#nav {
      width: 14%;
      float: left;
      margin:0;
      padding: 0;
      list-style: none;
      background-color: #f2f2f2;
      border-bottom: 1px solid #ccc; 
      border-top: 1px solid #ccc; }
   #nav li {float:left;
       }
   #nav li a {
      display: block;
      padding: 8px 15px;
      text-decoration: none;
      font-weight: bold;
      color: #069;
      border-right: 1px solid #ccc;
      list-style:none;}
      
   #nav ul
   {
   list-style:none;
   margin-left:-30px;
   }
   #nav li a:hover {
       list-style:none;
      color: #c00;
      background-color: black; }
      
      /* nav focus class */
      
  
      
      
      
      /* class active */
    
.active{
        
        font-weight:bold;
        text-align:left;
        color:black;
        
         box-shadow: 10px 10px 5px #888888;
         background-color: lightblue; 
        /* skuggning för märkning */
        
    }
    
    /* content */
    
    #content{
        
        
        background-color:white;
        
        float:left;
        width: 800px;
    }
    
 
    
    
    /* header */
    
    #header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
    background-image: url('../jpeg/Indra.svg');
    background-position:top right;
    background-repeat:no-repeat;
    }
    
    
    /*footer */
    
    
    #footer {
    
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;	 	 
}


/* container */

#container {
    overflow: auto;
    background-image: url('../jpeg/bird.jpg');
    max-width: 950px;
    margin: 0 auto;
    
}




/* formulär design */

.selektiv{

position:left;

float:left;}
.venster{
display:block;
    
}

.kontaktform legend{ background-color: #A5A8A9; 
padding: 2px 2px 2px 3px; 


letter-spacing:
3px; border: 1px solid #99cc00;
}

